# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @safe-global/safe-config-service-maintainers

/src/safe_apps @safe-global/safe-config-service-maintainers
