.dockerignore
__pycache__/
.gitignore
.git
.env
.dev.env
venv/
.idea/
.pytest_cache/
.coverage*
htmlcov/
data/
.pre-commit-config.yaml
docker-compose.override.yml
docker-compose.override.yml.example
docker-compose.yml
pyproject.toml
nginx/
*.md
mypy.ini
