# SPDX-License-Identifier: FSL-1.1-MIT

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
        types: [python]
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        name: insert-license
        alias: license-headers
        files: \.(py|yaml|yml|md|sh|Dockerfile|ini)$
        stages: [pre-commit]
        args:
          - --license-filepath
          - LICENSE_HEADER.txt
          - --comment-style
          - "#"
          - --no-extra-eol
