version: "3.9"

services:
  db:
    image: postgres:13-alpine
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
    - "5432:5432"
  web:
    build: .
    env_file:
      - .env
    command: poetry run python manage.py runserver 0.0.0.0:8000
    working_dir: /app/src
    ports:
      - "8000:8000"
    depends_on:
      - db
