-r requirements.txt
black==23.12.0
coverage==7.3.1
factory-boy==3.3.0
Faker==19.6.2
flake8==6.1.0
isort==5.12.0
pre-commit==3.4.0
pytest-django==4.5.2
responses==0.23.3

# mypy and PEP 561 stubs
mypy==1.7.1
django-stubs==4.2.4
djangorestframework-stubs==3.14.2
types-requests==2.31.0.9
