boto3==1.34.131
Django==5.0.6
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-camel-case==1.4.2
django-storages==1.14.3
django-stubs-ext==5.0.2
drf-yasg[validation]==1.21.7
safe-eth-py[django]==5.8.0
gunicorn==22.0.0
Pillow==10.3.0
psycopg2-binary==2.9.9
requests==2.32.3
