-r requirements.txt
black==22.8.0
coverage==6.5.0
coveralls==3.3.1
factory-boy==3.2.1
Faker==15.0.0
flake8==5.0.4
isort==5.10.1
pre-commit==2.20.0
pytest-django==4.5.2
responses==0.21.0

# mypy and PEP 561 stubs
mypy==0.982
django-stubs==1.12.0
djangorestframework-stubs==1.7.0
types-requests==2.28.11
