boto3==1.26.81
Django==4.1.7
django-cors-headers==3.14.0
djangorestframework==3.14.0
djangorestframework-camel-case==1.4.2
django-storages==1.13.2
django-stubs-ext==0.7.0
drf-yasg[validation]==1.21.5
safe-eth-py[django]==5.0.0
gunicorn==20.1.0
Pillow==9.4.0
psycopg2-binary==2.9.5
requests==2.28.2
