boto3==1.42.39
Django==6.0.2
django-cors-headers==4.9.0
django-storages==1.14.6
django-stubs-ext==5.2.9
djangorestframework==3.16.1
djangorestframework-camel-case==1.4.2
drf-yasg[validation]==1.21.14
eth-typing==5.2.1
eth-utils==5.3.1
gunicorn==25.0.1
Pillow==12.1.1
psycopg2-binary==2.9.11
requests==2.32.5
safe-eth-py[django]==7.18.0
