-r requirements.txt
black==24.2.0
coverage==7.4.3
factory-boy==3.3.0
Faker==24.1.0
flake8==7.0.0
isort==5.13.2
pre-commit==3.6.2
pytest-django==4.8.0
responses==0.25.0

# mypy and PEP 561 stubs
mypy==1.9.0
django-stubs==4.2.7
djangorestframework-stubs==3.14.2
types-requests==2.31.0.20240218
